@model CentralDenuncias.Models.denuncia

@{
    ViewData["Title"] = "Details";

    // Convertemos a data para o fuso horário de Brasília (GMT-3)
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time"); // Fuso horário de Brasília (GMT-3)
    var dataBrasilia = TimeZoneInfo.ConvertTimeFromUtc(Model.data_criacao, timeZone);
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Denúncia</title>

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="~/css/detalhes.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Detalhes da Denúncia</h1>
        <div class="container-btn-voltar"><a href="@Url.Action("Index", "Home")" class="btn-voltar">Voltar</a></div>
    </header>

    <main class="detalhes-main">
        <section class="detalhes-container">
            <div class="detalhe">
                <strong>ID da Denúncia:</strong>
                <p>@Html.DisplayFor(model => model.id)</p>
            </div>
            <div class="detalhe">
                <strong>Nome do Membro:</strong>
                <!--Essa é uma solução paleativa para uma situação específica, esse código deve ser retirado no futuro-->
                @* @if (@ViewBag.adm == "true") *@
                @* { *@
                @*     <form method="post" action="@Url.Action("AtualizarNome", "Home")"> *@
                @*         <input type="hidden" name="id" value="@Model.id" /> *@
                @*         <input type="text" name="nome_membro" value="@Model.nome_membro" required /> *@
                @*         <button type="submit" class="btn-editar">Atualizar Nome</button> *@
                @*     </form> *@
                @* } *@
                @* else *@
                @* { *@
                @*     <p>@Html.DisplayFor(model => model.nome_membro)</p> *@
                @* } *@
                <p>@Html.DisplayFor(model => model.nome_membro)</p>
            </div>
            <div class="detalhe">
                <strong>Link do Membro:</strong>
                <p><a href="@Html.DisplayFor(model => model.link_membro)" target="_blank">@Html.DisplayFor(model => model.link_membro)</a></p>
            </div>
            <div class="detalhe">
                <strong>Descrição:</strong>
                <p>@Html.DisplayFor(model => model.descricao)</p>
            </div>
            <div class="detalhe">
                <strong>Provas:</strong>
                @if (!string.IsNullOrEmpty(Model.provas))
                {
                    <img src="@Model.provas" alt="Prova" width="300" />
                }
            </div>
            <div class="detalhe">
                <strong>Link Provas:</strong>
                <p><a href="@Html.DisplayFor(model => model.provas)">Clique para baixar</a></p>
            </div>
            <div class="detalhe">
                <strong>Staffer Responsável:</strong>
                <p>@Html.DisplayFor(model => model.staffer)</p>
            </div>
            <div class="detalhe">
                <strong>Data da Denúncia:</strong>
                <p>@dataBrasilia.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="detalhe">
                <strong>Status da Denúncia:</strong>
                @if (Model.status == "pendente")
                {
                    <p><i class="fas fa-spinner status-denuncia" style="color: blue;"></i> Pendente</p>
                    @if (@ViewBag.adm == "true")
                    {
                        <form class="aprovar-status" method="post" action="@Url.Action("AlterarStatus", "Home")">
                            <input type="hidden" name="id" value="@Model.id" />
                            <button type="submit" name="status" value="reprovada" class="btn-reprovar">
                                <i class="fas fa-times"></i> Reprovar
                            </button>
                            <button type="submit" name="status" value="aprovada" class="btn-aprovar">
                                <i class="fas fa-check"></i> Aprovar
                            </button>
                        </form>
                    }
                }
                @if (Model.status == "aprovada")
                {
                    <p><i class="fas fa-check status-denuncia" style="color: green;"></i> Aprovada</p>
                }
                @if (Model.status == "reprovada")
                {
                    <p><i class="fas fa-times status-denuncia" style="color: red;"></i> Reprovada</p>
                }
            </div>
            <div class="detalhe">
                @if (Model.status != "aprovada" && Model.id > 350)
                {
                    <form method="post" action="@Url.Action("Deletar", "Home")" onsubmit="return confirm('Tem certeza que deseja deletar esta denúncia?');">
                        <input type="hidden" name="id" value="@Model.id" />
                        <button type="submit" class="btn-deletar">
                            <i class="fas fa-trash"></i> Deletar
                        </button>
                    </form>
                }
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Central de Denúncias Namoro!. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
