@model IEnumerable<CentralDenuncias.Models.denuncia>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Denúncias</title>
    <link rel="stylesheet" href="~/css/denuncia.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Central de Denúncias</h1>
        <a asp-action="Create" class="link-formated c"><button class="btn-criar">Criar Denúncia</button></a>
    </header>

    <!-- Filtro de Pesquisa -->
    <section class="filtro">
        <form asp-action="Index" class="form-filtro">
            <div class="campo-filtro">
                <input type="text" id="link" name="link" value="@ViewData["link"]" placeholder="Link do membro">
            </div>
            <div class="campo-filtro">
                <input type="text" id="nome" name="nome" value="@ViewData["nome"]" placeholder="Nome do membro">
            </div>

            <div class="container-btn-pesquisar"><button type="submit" class="btn-filtrar">Pesquisar</button></div>
        </form>
    </section>

    <!-- Lista de Denúncias -->
    <main>
        <table class="tabela-denuncias">
            <thead>
                <tr>
                    <th>Membro</th>
                    <th>Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Exemplo de linha de dados -->
                @foreach (var item in Model.OrderByDescending(i => i.data_criacao))
                {
                    {
                        // Supondo que a data está em UTC no banco de dados
                        var timeZone = TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time"); // Fuso horário de Brasília (GMT-3)
                        var dataBrasilia = TimeZoneInfo.ConvertTimeFromUtc(item.data_criacao, timeZone);

                    <tr id="registro-@item.id">
                        <td class="link_membro"><a class ="link_membro_text" href="@item.link_membro">@item.nome_membro</a></td>
                        <td>@dataBrasilia.ToString("dd/MM/yyyy")</td>
                        <td>
                            <button class="btn-detalhes"><a asp-action="Details" asp-route-id="@item.id" class="link-formated">Detalhes</a></button>
                        </td>
                            <td class="status-column">
                                @if (item.status == "pendente")
                                {
                                    <i class="fas fa-spinner icon-status-table" style="color: blue;"></i>
                                }
                                @if (item.status == "aprovada")
                                {
                                    <i class="fas fa-check icon-status-table" style="color: green;"></i>
                                }
                                @if (item.status == "reprovada")
                                {
                                    <i class="fas fa-times icon-status-table" style="color: red;"></i>
                                }
                            </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Central de Denúncias Namoro!. Todos os direitos reservados.</p>
    </footer>
</body>
</html>

